doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    link(rel='stylesheet', href='styles.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')

    style
      include ../styles/styles.css

  body
  .row.yellow.lighten-5
    .container
      .col.s12.m2
        .col.s5.m12
          .col.s2.m12
        .col.s2.m12
      .col.s2.m12
        h1= title
        h6 Log in or sign up to read what your friends want to say!


  .container.yellow.lighten-4.hoverable
    .row
    h5 Log in
    h6 In case you already have an account
      br
      br
    
      form(method='POST' action='/posts/login')
        .form-group.input-field
          input#logname.form-control(type='text', maxlength='15', name='logname')
          label(for='logname') Username
        .form-group.input-field
          input#logpw.form-control(type='password', maxlength='30', name='pw', )
          label(for='pw') Password
          .row
          .row
        button.btn.grey(type='submit' name='loginbtn') Log In
      .row
    .row
    .row

  .row
  .container.yellow.lighten-4.hoverable
    .row
    h5 Sign Up
    h6 If you are new in MiniBlogger
      br
      br
      form(method="POST" action="/getin")
        button.btn.grey(type='submit' name='action') Sign Up
    .row
    .row


  p#c




